<div class="mwa-ret-drill-inner">
  <div class="mwa-ret-drill-head">
    <span>{{title}}</span>
    <button id="mwaRetDrillClose">&#x2715;</button>
  </div>
  <div class="mwa-ret-drill-body">{{{bodyhtml}}}</div>
</div>
